.bodyclass{
    background-image:url("assets/v.jpeg");
}
.buttonclass{
    background-color: orange;
    margin:20px;
    border-radius:10px;
    color:black;
}

.buttonclass > .btn {
    font-weight: bold;
}

.buttonclass:hover {
    background-color:antiquewhite;
    color:black !important;
    border:2px solid orange;
    cursor: pointer;
}

.button{
    margin:20% auto;
}
.container{
    height:100vh;
}
.title{
    text-align:center;
    font-size:10px;
    font-weight:bold;
}
.loginbtn{
    text-align:right;
}

.loginbtn > button {
    background-color: orange;
    color: black;
}

.loginbtn > button:hover {
    background-color:antiquewhite;
    color:black !important;
    border:2px solid orange;
    font-weight: bold;
    cursor: pointer;
}

.navbar{
    padding:20px;
}
/* .loginclass{
    width:50vw;
    height:90vh;
    margin:0px auto;
    display:flex;
    justify-content:center;
    background-color:green;
    border-radius:15px;
    padding:20px;
} */